In [1]:
import pandas as pd
import numpy as np

In [21]:
main = pd.read_csv('fatal-police-shootings-data.csv')
state = pd.read_csv('state_data2.csv')

In [24]:
main2 = main.groupby('state').count()

In [31]:
main2 = main2[['id','name']]

In [35]:
temp = main2.join(state)

In [42]:
temp.loc['DC'] = [13.0,13.0,720687,0.1519,568400,121698]

In [45]:
temp = temp[['id','Pop','Poverty Rate\xa0','Median Home Value\xa0','Mean Household Income\xa0']]

In [47]:
temp.to_csv('state_3.csv')

In [16]:
main2 = main2['id']

In [19]:
main2['population'] = state['Pop']

In [20]:
main2

state
AK                                                           39
AL                                                          104
AR                                                           83
AZ                                                          254
CA                                                          799
CO                                                          195
CT                                                           21
DC                                                           13
DE                                                           13
FL                                                          350
GA                                                          182
HI                                                           30
IA                                                           32
ID                                                           42
IL                                                          104
IN                                                           95
KS                                                           50
KY                                                           95
LA                                                          109
MA                                                           35
MD                                                           79
ME                                                           22
MI                                                           78
MN                                                           61
MO                                                          141
MS                                                           65
MT                                                           31
NC                                                          156
ND                                                           11
NE                                                           24
NH                                                           13
NJ                                                           68
NM                                                          106
NV                                                           96
NY                                                          101
OH                                                          155
OK                                                          164
OR                                                           88
PA                                                          108
RI                                                            4
SC                                                           88
SD                                                           17
TN                                                          139
TX                                                          481
UT                                                           60
VA                                                           95
VT                                                            9
WA                                                          152
WI                                                           91
WV                                                           54
WY                                                           14
population    0       734002
1     29472300
2     39937500
3...
Name: id, dtype: object

In [28]:
state = state.set_index('state')

In [27]:
state

   state       Pop  Poverty Rate   Median Home Value   Mean Household Income
0     AK    734002         0.1061              265200                   96499
1     TX  29472300         0.1430              161700                   84221
2     CA  39937500         0.1374              475900                  101493
3     MT   1086760         0.1280              219600                   70959
4     NM   2096640         0.1957              166800                   66565
5     AZ   7378490         0.1480              209600                   77221
6     NV   3139660         0.1253              242400                   77319
7     CO   5845530         0.1010              313600                   92520
8     OR   4301090         0.1314              287300                   80040
9     WY    567025         0.1117              213300                   79257
10    MI  10045000         0.1450              146200                   75352
11    MN   5700670         0.0960              211800                   90600
12    UT   3282120         0.0944              256700                   87053
13    ID   1826160         0.1253              192300                   70620
14    KS   2910360         0.1204              145400                   77509
15    NE   1952570         0.1095              147800                   77278
16    SD    903027         0.1253              159100                   73768
17    WA   7797100         0.1054              311700                   93847
18    ND    761723         0.1041              185000                   84043
19    OK   3954820         0.1537              130900                   70262
20    MO   6169270         0.1358              151600                   73145
21    FL  21993000         0.1357              196800                   76652
22    WI   5851750         0.1142              173600                   77687
23    GA  10736100         0.1497              166800                   78574
24    IL  12659700         0.1292              187200                   88857
25    IA   3179850         0.1112              142300                   75951
26    NY  19440500         0.1439              302200                   97424
27    NC  10611900         0.1436              165900                   73753
28    AR   3039000         0.1679              123300                   64272
29    AL   4908620         0.1690              137200                   67243
30    LA   4645180         0.1891              157800                   68823
31    MS   2989260         0.2006              114500                   60640
32    PA  12820900         0.1232              174100                   81549
33    OH  11747700         0.1401              140000                   74109
34    VA   8626210         0.1036              264900                   98000
35    TN   6897580         0.1517              158600                   71458
36    KY   4499690         0.1716              135300                   67110
37    IN   6745350         0.1347              135400                   71912
38    ME   1345790         0.1202              184500                   73210
39    SC   5210100         0.1479              154800                   70093
40    WV   1778070         0.1774              115000                   61225
41    MD   6083120         0.0910              305500                  107482
42    HI   1412690         0.0973              587700                   99765
43    MA   6976600         0.1018              366800                  106627
44    VT    628061         0.1067              223700                   78472
45    NH   1371250         0.0746              252800                   95876
46    NJ   8936570         0.1012              327900                  110140
47    CT   3563080         0.0978              272700                  109693
48   NaN   3032160         0.4931              113500                   32190
49    DE    982895         0.1117              244700                   86962
50    RI   1056160         0.1260              249800                   85527
51   NaN    720687         0.1519              568400                  121698